.body2{
  background: linear-gradient(90deg, rgb(184, 225, 184) 45%, rgb(40, 94, 105) 100%);
  /* background-image: url('/photo/wallpaper.png'); */
  margin: 0;
  color: #3b3333;
}
/* header */

#headnav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100%;
    
}

/* Меню */
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
    color: #3b3333;;
    width: 100%;

}
.mainDone{
    font-family: 'Bangers', cursive;
    font-size: 33px;
    animation: dlya 2s 1;
    opacity: 100%;
    letter-spacing: 7px;
    color: #3b3333;
    font-weight: bolder;
}
@keyframes dlya {
    0%{
        font-size: 1px;
         margin-top: 2%; 
        opacity: 90%;
        letter-spacing: 17px;
    }
    80%{
        
        opacity: 95%;
        letter-spacing: 17px;
    }
   
}


 /* Кнопки */
 .floating-button {
    text-decoration: none;
    display: inline-block;
    width: 300px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: #1cb678;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
    animation: log 2.4s 1;
    opacity: 100%;
  }
  @keyframes log {
      0%{
          margin-top: 100px;
          opacity: 0%;
      }
      80%{
          margin-top: 100px;
          opacity: 0%;
      }
  }
  .floating-button:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
    cursor: pointer;
  }

  .double-border-button {
    text-decoration: none;
    display: inline-block;
    margin: 10px 20px;
    padding: 10px 30px;
    position: relative;
    border: 2px solid #3b3333;
    color: #3b3333;
    font-family: 'Montserrat', sans-serif;
    transition: .4s;
    border-radius: 20px;
  }
  .double-border-button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .4s;
    color: #8F7473;
    border-radius: 50px;
  }
  .double-border-button:hover:after {
    border-color: #8F7473;
    color: #8F7473;

    width: calc(100% - 10px);
    height: calc(100% + 10px);
  }








.boxx{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header{
    font-size: 15px;;
   /* font-family: 'Times New Roman', Times, serif; */
}

.content-container{
    display: flex;
    
    width: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

  .divik {
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    align-items: center;
    margin-top: 130px;
    /* margin-top: 100px;
    position: absolute;  */
    /* top: 55%;  */
    left: 50%;
    opacity: 100%;
    animation: divik 3.2s 1;
  }
  @keyframes divik {
      0%{
          opacity: 0%;
      }
      80%{
          opacity: 0%;
      }
  }
  span {
    /* display: block; */
    position: absolute;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    box-shadow: 2px 2px 3px rgba(0,0,0,.4);
    -webkit-animation: run 2s infinite ease-in-out;
    animation: run 2s infinite ease-in-out;
  }
  
  .one {
    background: #F3B222;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
  }
  .two {
    background: #F0653E;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  .three {
    background: #B9C0C0;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  .four {
    background: #8F7473;
  }
  
  @-webkit-keyframes run {
    0% {
      transform: translate(0%);
      border-radius: 50%;
    }
    25% {
      transform: translate(150%) scale(0.5); 
      border-radius: 0%;
    }
    50% {
      transform: translate(150%, 150%);
      border-radius: 50%; 
    }
    75% {
      transform: translate(0%, 150%) scale(0.5); 
      border-radius: 0%;
    }
  }
  @keyframes run {
    0% {
      transform: translate(0%);
      border-radius: 50%;
    }
    25% {
      transform: translate(150%) scale(0.5); 
      border-radius: 0%;
    }
    50% {
      transform: translate(150%, 150%);
      border-radius: 50%; 
    }
    75% {
      transform: translate(0%, 150%) scale(0.5); 
      border-radius: 0%;
    }
  }
  

  
@media only screen and (max-width: 600px)  {
    #headnav{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .double-border-button{
        display: unset;
        margin: unset;
        color: #8F7473;
    }
   
}


/* login */ 

#logbody{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: logbody 2.5s 1;
    opacity: 100%;
    
}
@keyframes logbody {
    0%{ 
        opacity: 0%;
    }
    50%{
        margin-top: 50px;
        opacity: 0%;
    }
    95%{
        
        opacity:90%;
    }
}
.reghr{
    width: 100%;
    /* color: #002878; */
}
.inplog{
    color: #3b3333;;
    /* width: 250px; */
    height: auto;
    margin-top: 7px;
    margin-bottom: 10px ;
    border: 2px  #6ab1d700;
    border-color: #00287800;
    /* border-radius: 10%; */
    padding: 4.5%;
    text-align: center;
    background-color: #00287800;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.inplog:focus-visible{
   border-color: #00287800;
   
}
.notacc{
    font-size: 20px;
}
.pressed-button {
    cursor: pointer;
    width: 300px;
    height: auto;
    text-decoration: none;
    display: inline-block;
    padding: 12px 40px;
    margin: 10px 20px;
    border-radius: 30px;
    background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: white;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
    transition: .5s;
  }
  .pressed-button:hover {
    box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
    background-position: 0 0;
  }

.divik2{
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    align-items: center;
    margin-top: 250px;
    /* margin-top: 100px; */
    position: absolute;  
    /* top: 55%;  */
    left: 50%;
    opacity: 0%;
    animation: divik2 2s 1;
}

@keyframes divik2 {
    0%{
        opacity: 100%;
    }
    80%{
        opacity: 100%;
    }
}

.vxod{
    font-size: 44px;
}
.container{
    display: flex;
    
    width: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.container2{
  border: 10px;
  padding: 1px;
  /* background-image: url(/photo/ramka2.png); */
  background: linear-gradient(181deg, rgb(255 255 255) 35%, rgb(255 234 210) 100%);
  border-radius: 27px;
  border-color: #1cb678;
  margin: 37px;
  width: 809px;
  height: 506px;
  align-items: center;
  overflow: hidden;
}

.vxodacc{
    font-size: 55px;
    color: #3b3333;
    letter-spacing: 7px;
    animation: vxtext 3s 1;
}
@keyframes vxtext {
    0%{
        letter-spacing: 7px;
    }
    50%{
        letter-spacing: 10px;
    }
    85%{
        letter-spacing: 10px;
    }
    100%{
        letter-spacing: 7px;
    }
}

.sUser{
    font-size: 44px;
    animation: suser 2s 1;
}
@keyframes suser {
    0%{
        opacity: 0%;
    }
    85%{
        opacity: 0%;
    }
}

.glow-button {
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    background-image: url('/photo/wallpaper.jpg');
    box-shadow: 0 0 40px 40px #3b3333 inset, 0 0 0 rgba(3, 33, 34, 0.349)22;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: #3b3333;
    transition: .15s ease-in-out;
    width: 300px;
    font-size: 20px;
  }
  .glow-button:hover {
      background-image: url('/photo/wallpaper.jpg');
     box-shadow: 0 0 10px 0 #3b3333 inset, 0 0 10px 4px #27a4a894;
     cursor: pointer;
   
  }
  

  /* Альбом */ 

  .albumImg{
    width: 399px;
    height: 399px;
    padding: 4px;
    border-radius: 20px;
    opacity: 100%;
  }
.albumImg:hover{
    /* opacity: 70%; */
    cursor: pointer;
}

.name-album{
  border: 10px;
  padding: 1px;
  /* background-image: url(/photo/ramka2.png); */
  background: linear-gradient(181deg, rgb(255 255 255) 35%, rgb(255 234 210) 100%);
  border-radius: 20px;
  border-color: #1cb678;
  margin: 19px;
  width: 419px;
  height: 506px;
  align-items: center;
}

.name-album:hover{
    opacity: 80%;
    box-shadow: 0px 2px 19px 11px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.author-albums{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* #formFetch{
    display: flex;
} */

.author-albums2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.myAtext{
    font-size: 55px;
    font-family: fantasy;
    letter-spacing: 7px;
    color: #3b3333d0;
}

.addAl{
    font-size: 55px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
    color: #F0653E;
}

.shine-button {
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    margin: 10px 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid #fe6637;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #fe6637;
    transition: .2s ease-in-out;

  }
  .shine-button:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
  }
  .shine-button:hover {
    background: #fe6637;
    color: #fff;
    cursor: pointer;
  }
  .shine-button:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
  }
