<script src="routes/users.js"></script>
<div class="divik2">
  <span class="one"></span>
  <span  class="two"></span>
  <span  class="three"></span>
  <span  class="four"></span>
 </div>
<form id="logbody" method="POST" action="login">
  <h1 class="vxodacc">Вход в аккаунт</h1>
  <div class="container">
    
    <hr>
    <input class="inplog" type="text" placeholder="Имя пользователя" name="login" required>
    <hr class="reghr">
    <input class="inplog" type="password" placeholder="Введите пароль" name="password" required>
    <hr class="reghr">
    <button type="submit" class="glow-button">Войти</button>
    <a href="registration"><button type="button" class="glow-button">Зарегистрироваться</button></a>
    
  </div>
  <div class="container signin">
    
  </div>
</form>
