<div class="divik2">
  <span class="one"></span>
  <span  class="two"></span>
  <span  class="three"></span>
  <span  class="four"></span>
 </div>
<form id="logbody" method="POST" action="registration">
    <h1 class="vxodacc">Регистрация</h1>
  <div class="container">
    <hr>
    <input class="inplog" type="text" placeholder="Имя пользователя" name="login" required>
    <hr class="reghr">
    <input class="inplog" type="text" placeholder="Введите Email" name="email" required>
    <hr class="reghr">
    <input class="inplog" type="password" placeholder="Введите пароль" name="password" required>
    <hr class="reghr">
    <button type="click" class="glow-button">Зарегистрироваться</button>
  </div>
  <div class="container signin">
    <p class="notacc">Уже есть аккаунт? </p> 
    <a href="login"><button type="button" class="glow-button">Войти</button></a>
  </div>
</form>
