<div class="-photo-container">
  {{#each allPhotos}}
          <div data-mealid="{{this.id}}" class="js-meal">
            <div class="photo">
            <h2>{{this.title}}</h3>
            <img style="height: 200px; width: 200px" src="{{this.photo}}" alt=""><br>
            <p>{{this.body}}</p>
            </div>
          </div>
          {{/each}}
</div>
